#content {
  min-height: calc(100vh - 182px);
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #fff;
}

@media only screen and (max-width: 300px) {
  #content {
    min-height: calc(100vh - 315px);
  }
}
